.preload {
  border: none;
  font-weight: bold;
  font-size: 18px;
  color: #272727;
  display: flex;
  width: 120px;
  padding: 25px 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.preload.increment {
  background: #66bb6a;
}

.preload.increment:hover {
  background: #549d59;
  cursor: pointer;
}

.preload.decrement {
  background: #ef5350;
}

.preload.decrement:hover {
  background: #c44442;
  cursor: pointer;
}

.FieldInput {
  border: 1;
  width: 1;
}

.shot {
  display: flex;
  font-size: 1.2em;
  letter-spacing: 2px;
  border-bottom: solid 7px #ffffff;
  width: 180px;
}

.shot-score {
  width: 220px;
  background: blue;
}

.counter {
  display: flex;
}

.counter-action {
  border: none;
  font-weight: bold;
  color: #fafafa;
  display: flex;
  padding: 15px 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.counter-action.increment {
  background: #66bb6a;
}

.counter-action.increment:hover {
  background: #549d59;
  cursor: pointer;
}

.counter-action.decrement {
  background: #ef5350;
}

.counter-action.decrement:hover {
  background: #c44442;
  cursor: pointer;
}

.counter-score {
  flex-grow: 1;
  background: #2b2b2b;
  color: #fafafa;
  text-align: center;
  font-family: monospace;
  padding: 1px;
  font-size: 2em;
}
